@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
/* $dark-olive-green: rgba(96, 108, 56, 1);
$kombu-green: rgba(40, 54, 24, 1);
$pale-spring-bud: rgba(233, 237, 201, 1);
$cornsilk: rgba(254, 250, 224, 1);
$earth-yellow: rgba(221, 161, 94, 1);
$liver-dogs: rgba(188, 108, 37, 1); */
#page-wrap {
  text-align: center;
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}
.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.1s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.App{
  display: grid;
  min-height: 100vh;
  grid-template-columns: 2fr 1fr;
  column-gap: 6rem;
  padding-left: 2rem;
  align-items: center;
  background-color: #606C38;
}
.grid-col-span-2{
  grid-column: span 2;
}
.main-title{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: #E9EDC9;
}
p{
  font-family: 'Montserrat';
  text-align: center;
  word-wrap: break-word;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #E9EDC9;
  margin-bottom: 1em;
}
.header{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  margin-left: 5em;
}
/* main{
  height: 100%;
} */
.main-forms{
  display: flex;
  flex-direction: column;
  background-color: #E9EDC9;
  padding: 3em;
  border-radius: 50px;
  gap: 3em;
  height: max-content;
}
.leftbar{
  display: flex;
  flex-direction: column;
  background-color: #E9EDC9;
  padding: 1em;
  border-radius: 50px;
  height: 100%;
}
.leftbar-img{
  width: 30rem;
}